// dracula theme inspiration
// https://draculatheme.com/contribute

$background: hsl(231, 15, 18);
$current-line: hsl(232, 14, 31);
$foreground: hsl(60, 30, 96);
$comment: hsl(225, 27, 51);
$cyan: hsl(191, 97, 77);
$green:	hsl(135, 94, 65);
$orange:	hsl(31, 100, 71);
$pink:	hsl(326, 100, 74);
$purple:	hsl(265, 89, 78);
$red:	hsl(0, 100, 67);
$yellow:	hsl(65, 92, 76);