@import '../../styles/colors';

.tab {
  background-color: $current-line;
  border-radius: .5rem;
  max-width: 95%;
  display: flex;
  overflow: hidden;
  overflow-x: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  
  .tab__item {
    padding: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $foreground;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
    
    &:hover {
      background-color: $pink;
      color: $background;
      border-radius: 0;
    }

    .tab__icon {
      font-size: 1.2rem;
      vertical-align: middle;
    }
    
    .tab__name {
      vertical-align: middle;
      margin-left: .5rem;
      font-weight: 600;
      font-size: .875rem;
    }
    
    &.tab__item--active {
      background-color: $pink;
      color: $background;
      
      &:hover {
        background-color: $purple;
      }
    }
  }
}

.tab__content {
  width: 95%;
  max-width: 1280px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  
  .tab__content-card {
    position:relative;
    width: 100%;
    max-width: 308px;
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: .5rem;
    text-decoration: none;
    overflow: hidden;
    animation: fadeInUp .6s;
    transition: all .5s ease-in-out;

    .tab__content-title {
      width: 100%;
      color: $foreground;
      font-size: .8rem;
      font-weight: 600;
      text-align: center;
      z-index: 1;
      background-color: $current-line;
      padding: .5rem;
      transition: all .5s ease-in-out;
      vertical-align: middle;
    }

    &:hover {
      transform: translateY(-0.625rem);
      
      .tab__content-title {
        transform: translateY(4rem);
      }

      &::after {
        content: linear-gradient(transparent, $purple 70%, $purple);
      }
    }
  }

  @keyframes fadeInUp{
    0% {
      opacity:0;
      transform: translateY(1.25rem)
    } to {
      opacity:1;
      transform: translateY(0)
    }
  }
}

@media (max-width: 1024px) {
  .tab__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .tab__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1024px) {
  .tab__content {
    margin-bottom: 5rem;
  }
}