@import '../../styles/colors';

.tab {
  background-color: $color-black-90;
  border-radius: 10px;
  margin: 2rem auto;
  
  .tab__item {
    padding: 1rem;
    background: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: $color-black-50;
    transition: all 0.5s;

    .tab__icon {
      font-size: 1.2rem;
      vertical-align: middle;
    }
    
    .tab__name {
      vertical-align: middle;
      margin-left: .5rem;
      font-weight: 600;
      font-size: .875rem;
    }

    &:hover {
      background-color: $color-black-80;
    }

    &.tab__item--active {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

.tab__content {
  max-width: 1280px;
  display: flex;
  gap: 1rem;

  .tab__content-title {
    color: $color-white;
    font-size: 1rem;
    font-weight: 500;
    z-index: 1;
  }

  .tab__content-card {
    position:relative;
    width: 308px;
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    border-radius: 10px;
    text-decoration:none;
    transition: transform .2s ease-in-out;
    overflow: hidden;animation:fadeInUp .6s;
    
    &::after {
      content: linear-gradient(transparent,rgba(0,0,0,.5) 80%,rgba(0,0,0,.8));
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0
    }

    &:hover {
      transform:translateY(-10px);

      &::after {
        content: linear-gradient(transparent,hsla(270, 50%, 40%, 0.6) 80%,hsla(270, 50%, 40%, 0.9));
      }
    }
  }
  @keyframes fadeInUp{
    0%{
      opacity:0;
      transform: translateY(20px)
    } to {
      opacity:1;
      transform:translateY(0)
    }
  }
}