@import '../../styles/colors';

.contact {
  width: 100%;
  background-color: $background;
  
  .contact__links {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  .contact__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;

    text-decoration: none;
    color: $purple;

    .contact__icon {
      font-size: 1.5rem;
      transition: all .8s ease-in-out
    }
    
    .contact__name {
      font-size: .8rem;
      font-weight: 600;
      color: $comment;
      transition: all .3s ease-in-out;
    }
    
    &:hover {
      color: $pink;

      .contact__icon {
        transform: rotate(-360deg);
      }

      .contact__name {
        transform: translateX(.5rem);
      }
    }
  }
}

@media (max-width: 576px) {
  .contact {
    position: fixed;
    bottom: 0;
    z-index: 2;
  }
}