  @import "../../styles/colors";

  .header {
  max-width: 1280px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__background {
  width: 100%;

  background: center;
  background-size: cover;

  border-radius: 10px;

  .header__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid $color-white;
    margin-top: 170px;
  }

  .header__name {
    font-size: 1.25rem;
    color: $color-primary;
  }

  .header__description {
    font-size: 1rem;
    font-weight: 400;
  }
}